li {
    list-style: none;
}

div.red, div.green,
div.blue, div.black,
div.white, div.colorless {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

div.red {
    background: red;
}

div.green {
    background: green;
}

div.blue {
    background: blue;
}

div.black {
    background: #444444;
}

div.white {
    background: white;
    border: 1px solid black;
}

div.colorless {
    background: #888888;
}

/*
span.common, span.uncommon,
span.rare, span.mythic {
    
}
*/

span.uncommon, span.rare,
span.mythic {
    border-bottom: 2px solid;
    /* webkit-text-stroke: 1px black; */
}

span.uncommon {
    border-bottom-color: gray;

}

span.rare {
    border-bottom-color: yellow;
}

span.mythic {
    border-bottom-color: orangered;
}