#card_form {
    width: 600px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    row-gap: 15px;
}

.container label {
    grid-column: 1/2;
    text-align: right;
}

.container input, .container select,
.container div {
    grid-column: 2/3;
}

.container button {
    grid-column: 2/3;
    margin-top: 15px;
}

.result {
    text-align: center;
    overflow: hidden;
    background: white;
    transition: background 2s;
}

.success {
    background: lightgreen;
    animation-name: disappear;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.failure {
    background: lightcoral;
    animation-name: disappear;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes disappear {
    0% {height: 0px; border: none;}
    50% {height: 40px; border: 2px solid black;}
    100% {height: 0px; border: none;}
}